body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: bisque;
}
.Container{
    margin-top: 100px;
}
textarea{
    padding: 20px;
    width: 600px;
    height: 250px;
    border-radius: 10px;
}
button{
    padding: 10px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}