*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(186, 198, 198);
    align-items: center;
    display: flex;
    justify-content: center;
}
.Container{
    width: 650px;
    height: 600px;
    background-color: white;
    margin-top: 100px;
    padding: 30px;
    border-radius: 30px;
}
h1{
    font-size: 45px;
    font-weight: 500;
}
h1 span{
    color: rgb(212, 98, 98);
}
textarea{
    width: 600px;
    height: 350px;
    background-color: azure;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border: none;
    resize: none;
    margin-top: 20px;
    border-radius: 10px;
}
.selectList{
    margin-top: 20px;
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#button{
    background-color: palevioletred;
    width: 80px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}
.options{
    color: white;
    background-color: #403d40;
    flex: 1;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border-radius: 30px;
}